@import "bootstrap";


.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &-trash {
    background-image: url("./img/delete.png");
  }

  &-add {
    background-image: url("./svg/add.svg");
  }

  &-edit {
    background-image: url("./img/edit.png");
  }

  &-exit {
    background-image: url("./img/exit.png");
  }
}

.botao-default {
  width: 2rem;
  height: 2rem;
}

table {
  background-color: white;
}

.gradient-custom,
body {
  background: #6a11cb;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.border-success {
  border: 4px solid rgb(12, 192, 36);
}