@import "bootstrap";

body{
  background-color: rgb(117, 115, 207);
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  &-trash {
    background-image: url("./svg/trash.svg");
  }
  &-add{
    background-image: url("./svg/add.svg");
  }
  &-edit{
    background-image: url("./svg/edit.svg");
  }
}

.botao-default {
  width: 2rem;
  height: 2rem;
}

.box-login{
  margin-top: 5rem;
}

table{
  background-color: white;
}