<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white rounded-5">
          <div class="card-body p-5 text-center">
            <h1 class="mb-5">LOGIN</h1>
            <div class="mb-md-3 mt-md-2 pb-5">
              <form [formGroup]="formLogin">
                <div class="form-outline form-white mb-4">
                  <label class="form-label fs-5" for="typeEmailX">E-mail</label>
                  <input type="email" formControlName="email" placeholder="seu email"
                    class="form-control form-control-lg" autofocus/>
                </div>

                <div class="form-outline form-white">
                  <label class="form-label fs-5" for="typePasswordX">Senha</label>
                  <input type="password" formControlName="senha" placeholder="********"
                    class="form-control form-control-lg" />
                </div>
              </form>

              <button class="btn btn-outline-light btn-lg px-5 mt-5" type="button" (click)="login()">
                Entrar
              </button>
            </div>

            <p class="mb-0">Não possui uma conta ?</p>
            <div class="pt-3">
              <button class="btn btn-outline-light" [routerLink]="['/nova-conta']">
                Clique aqui
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>