<app-navbar></app-navbar>
<div class="container mt-5">
  <button
    type="button"
    class="btn mt-4 icon icon-add botao-default"
    data-bs-toggle="modal"
    data-bs-target="#modalEditarRestaurante"
    data-bs-whatever="@mdo"
  >
  </button>
  <table class="table table-striped">
    <thead class="text-center">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let restaurante of listaRestaurantes">
        <td>{{ restaurante.id }}</td>
        <td>{{ restaurante.nome }}</td>
        <td>
          <button class="btn icon icon-trash botao-default" (click)="deletarRestaurantes(restaurante.id)">
          </button>
          <button
            class="btn icon icon-edit botao-default ms-3"
            (click)="buscaRestauranteID(restaurante.id)"
            data-bs-toggle="modal"
            data-bs-target="#modalAtualizarRestaurante"
            data-bs-whatever="@mdo"
          > 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="modal fade"
  id="modalEditarRestaurante"
  tabindex="-1"
  aria-labelledby="modalEditarRestaurante"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Adicionar restaurante
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formRestaurante">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Nome do restaurante:</label
            >
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              formControlName="nomeRestaurante"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button
          type="button"
          class="btn btn-dark"
          (click)="adicionarRestaurantes()"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalAtualizarRestaurante"
  tabindex="-1"
  aria-labelledby="modalAtualizarRestaurante"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAtualizarRestaurante">
          Atualizar restaurante
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formRestaurante">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"
              >Nome do restaurante:</label
            >
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              formControlName="novoNomeRestaurante"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <button
          type="button"
          class="btn btn-dark"
          (click)="editarRestaurante()"
          data-bs-dismiss="modal"
        >
          Atualizar
        </button>
      </div>
    </div>
  </div>
</div>
